.circle-container {
  margin: 0 auto;
}

// .circle {
//   width: 80%; /* Выберите размер окружности по вашему усмотрению */
//   height: 0;
//   padding-bottom: 80%; /* Соотношение сторон 1:1, чтобы создать круг */
//   border-radius: 530px;
//   border: 1px solid var(--Black-blue, #42567a);
//   opacity: 0.2;
// }

/* Circle.module.css */
// .circle-container {
//   width: 530px;
//   height: 530px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   margin-top: 215px;
// }

// .circle {
//   width: 80%; /* Выберите размер окружности по вашему усмотрению */
//   height: 0;
//   padding-bottom: 80%; /* Соотношение сторон 1:1, чтобы создать круг */
//   border-radius: 530px;
//   border: 1px solid var(--Black-blue, #42567a);
//   opacity: 0.2;
//   position: relative;
//   z-index: 1;
// }
